@template~~#CR.DESC# Booking and PoD Notification template
@jobs~TRACKING,,#hidCour#++{DATEFROM}+8+,#hidCour#++{DATETO}+9+#tilde#,#cl.dexc#:nisin:Y#comma#D^#cl.dexc#:<>:^#cs.stat#:<>:D~
@job
@tracking~#TH.SMLP#:isin:Booked,Delivered^#TH.SENT#:<>:Y^#TH.CLTR#:=:9~
@trackline~#TH.SMLP#:=:Booked^#TH.SENT#:<>:Y^#CS.BKOK#:=:Y^#TH.CLTR#:=:9~
@subject~~#CR.DESC# Booking Confirmation
@newfile~
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
  <head>
    <title>#CR.DESC# Booking Confirmation</title>
  </head>
  <body>
      <!-- Start Booking notification -->
      <div style="font-family:Calibri; font-size:12pt">        
        <div>&nbsp;</div>
        <div >
          The following booking has been made by #ct.desc# from #cl.desc# <br />
          via #cr.desc# on #cs.bkdt# on Consignment No. <b>#cs.hawb#</b>
        </div>
        <div>&nbsp;</div>
        <div >
        If you have a Web-enabled mail reader, click the link below to view consignment tracking details: <br />
        <br />
        <a href="https://master-ncpg.netcourier.net/online/tracking/trackinginfo/#cs.hawb#">
	  https://master-ncpg.netcourier.net/online/tracking/trackinginfo/#cs.hawb#
        </a>
       </div>
        <div>&nbsp;</div>
        <div>&nbsp;</div>
        <div >
      <b>SHIPMENT TO:</b> <br/>
@data~#csd_cnam#:<>:~#csd_cnam#<br />
@data~#csd_adr1#:<>:~#csd_adr1#<br />
@data~#csd_adr2#:<>:~#csd_adr2#<br />
@data~#csd_adr3#:<>:~#csd_adr3#<br />
@data~#csd_plac#:<>:~#csd_plac#<br />
@data~#csd_zpcd#:<>:~#csd_zpcd#<br />
@data~#csd_ctry#:<>:~#csd_ctry#<br />
      </div><br />
      <div >
      <b>SHIPMENT FROM:</b> <br/>
@data~#csc_cnam#:<>:~#csc_cnam#<br />
@data~#csc_adr1#:<>:~#csc_adr1#<br />
@data~#csc_adr2#:<>:~#csc_adr2#<br />
@data~#csc_adr3#:<>:~#csc_adr3#<br />
@data~#csc_plac#:<>:~#csc_plac#<br />
@data~#csc_zpcd#:<>:~#csc_zpcd#<br />
@data~#csc_ctry#:<>:~#csc_ctry#<br />
      </div><br />
      <div >
@data~#cs.twgt#:<>:~<b>SERVICE:</b> #service#<br/><br/>
@data~#cs.twgt#:<>:~<b>WEIGHT:</b> #cs.twgt#<br/><br/>
@data~#cs.titm#:<>:~<b>NO. OF PIECES:</b> #cs.titm#<br/><br/>
@data~#cs.ctyp#:<>:~<b>SHIPMENT CONTENTS:</b> #consType#<br/><br/>
@data~#cs.cref#:<>:~<b>YOUR REFERENCE:</b> #cs.cref#<br/><br/>
@data~#spin#:<>:~<b>SPECIAL INSTRUCTIONS:</b> #cs.note#<br />
      </div>
      <div>&nbsp;</div>
      <div >Thank you for using #CR.DESC#.</div>
    </div>
  </body>
</html>
\@trackline
<!-- End of Booking notification -->

<!-- Start PoD -->
@trackline~#TH.SMLP#:=:Delivered^#TH.SENT#:<>:Y^#TH.CLTR#:=:9^#CS.DLOK#:=:Y~
@subject~~#CR.DESC# - Delivery confirmation #today#
@newfile~
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
  <head>
    <title>#CR.DESC# - Delivery confirmation #today#</title>
  </head>
    <body>
    <div style="font-family:Calibri; font-size:12pt">
      <div>&nbsp;</div>
      <div ><b>#CR.DESC# Proof of Delivery</b></div>
        <div>&nbsp;</div>
        <div>&nbsp;</div>
        <div >#CR.DESC# has successfully delivered your shipment.</div>
        ------------------------------------------------------------------------------------
        <div >
        <b>Consignment No.:</b> #cs.hawb# &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <b>Your reference:</b> #cs.cref#
        </div>
      ------------------------------------------------------------------------------------
      <div >
        <b>Delivered:</b>
        <br/>
        #cs.potm# on #cs.podt#.&nbsp; Signed for by #cs.dlto#
      </div>
      <br />
      <div >
        If you have a Web-enabled mail reader, click the link below to view consignment tracking details: <br />
        <br />
        <a href="https://master-ncpg.netcourier.net/online/tracking/trackinginfo/#cs.hawb#">
          https://master-ncpg.netcourier.net/online/tracking/trackinginfo/#cs.hawb#
        </a>
       </div>
       <br/>
      <div >
        <b>Consignment Details:</b>
        <br/>
Consignment No. #cs.hawb# <br />
@data~#cs.titm#:<>:~Printed Matter - #cs.titm# piece <br />
@data~#cs.bkdt#:<>:~Sent on #cs.bkdt#
      </div>
      <br />
      <div >
      <b>Delivery to:</b><br/>
@data~#csd_cnam#:<>:~#csd_cnam#<br />
@data~#csd_adr1#:<>:~#csd_adr1#<br />
@data~#csd_adr2#:<>:~#csd_adr2#<br />
@data~#csd_adr3#:<>:~#csd_adr3#<br />
@data~#csd_plac#:<>:~#csd_plac#&nbsp;
@data~#csd_zpcd#:<>:~#csd_zpcd#<br />
@data~#csd_ctry#:<>:~#csd_ctry#<br /><br />
@data~#csd_ctnm#:<>:~<b>Attention:</b> #csd_ctnm#<br /><br />
@data~#csd_phon#:<>:~<b>Telephone:</b> #csd_phon#
      </div>
      <div>&nbsp;</div>
      <div>&nbsp;</div>
      <div >Thank you for using #CR.DESC#</div>
    </div>
    <!-- End of PoD -->
  </body>
</html>
\@trackline
\@tracking
\@job
\@jobs
\@template
